<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IDE.Properties.Settings>
            <setting name="RecentFile" serializeAs="String">
                <value>recent_projects.json</value>
            </setting>
            <setting name="FileFolder" serializeAs="String">
                <value>files</value>
            </setting>
            <setting name="TextEditorFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="TextEditorBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEditorFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TextEditorItalic" serializeAs="String">
                <value>False</value>
            </setting>
        </IDE.Properties.Settings>
    </applicationSettings>
</configuration>