<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slang.IDE.Tools.CrashReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Slang.IDE.Tools.CrashReport.Properties.Settings>
            <setting name="CrashDumpsFolder" serializeAs="String">
                <value>dumps</value>
            </setting>
        </Slang.IDE.Tools.CrashReport.Properties.Settings>
    </applicationSettings>
</configuration>